.account-menu-container {
  margin: 0;
  padding: 0;
  gap: 5px;
  top: 90px;
  right: 90px;
  width: 200px;
  padding: 1rem;
  border-radius: 8px;
  display: none;
  position: absolute;
  flex-direction: column;
  background-color: var(--components-background);
  box-shadow: 0 0 8px rgba(63, 54, 66, 0.555);
 
  li {
    margin: 0;
    padding: 0;  
    width: 100%;
    display: flex;
    list-style: none;
    
    .menu-text {
      color: white;
      width: 100%;
      border-radius: 5px;

      &:hover {
        background-color: var(--primary-color);

      }
    }
  }
}

@media (max-width: 1080px) {
  .account-menu-container {
    right: 45px;
    top: 90px;
  }
}